*{
    margin: 0;
    padding: 0;

}
#canvas1 {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow:0 0 50px 15px black;

}

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}